<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDChPiN46pnwXl3w6d9vw0TU6Gjrs9WGzU</string>
	<key>GCM_SENDER_ID</key>
	<string>513003618002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movies</string>
	<key>PROJECT_ID</key>
	<string>movies-app-final-project</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-app-final-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513003618002:ios:0d532f9390f97e8418370b</string>
</dict>
</plist>